<mat-toolbar color="primary">
    <span class="spn">MSS</span>

    <span class="example-spacer"></span>

   <button  mat-button routerLink='/dashboard'><p class="bts">Dashboard</p></button>
   <button mat-button routerLink='/dashboard/employees'> <p class="bts">Employees</p></button>
   <button  mat-button routerLink="/dashboard/reports"> <p class="bts">Reports</p></button>

   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (onclick)="logout()">
    <mat-icon>logout</mat-icon>
  </button>

  </mat-toolbar>

  
