<div class="container">
    <mat-toolbar class="toolbar">
        <span class="titleh">Role Management</span>
    </mat-toolbar>
</div>
<div class="container">
    <mat-card class="cardemployer">
        <mat-card-subtitle class="csubtitle">Ajouter Role :</mat-card-subtitle>
        <form class="fe">
            <mat-form-field class="ffe">
                <mat-label>Role</mat-label>
                <input matInput placeholder="Role" name="roleName" required>
            </mat-form-field>
            <mat-form-field class="ffe">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description" name="description" required>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="addEmployee()" class="buttonadd">Ajouter Role</button>
        </form>
    </mat-card>
</div>
