.container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
  }
  
  .titleh {
    font-size: 1.5em;
    font-weight: bold;
    color: white; /* Change to white */
  }
  
  .mat-toolbar-titleh,
  .mat-toolbar-assign {
    margin-bottom: 20px;
    background-color: #28a745; /* Change to your desired color */
    color: white; /* Make the text white */
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    align-self: flex-end;
  }
  
  mat-toolbar span {
    font-size: 1.2em;
    font-weight: bold;
  }
  