<div class="container">
    <mat-toolbar class="toolbar">
        <span class="titleh">Assign Role To User</span>
    </mat-toolbar>
</div>
<div class="container">
    <mat-card class="cardemployer">
        <mat-card-subtitle class="csubtitle">User Assignment:</mat-card-subtitle>
        <form class="fe">
            <mat-form-field class="ffe">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" name="userName" required>
            </mat-form-field>
            <mat-form-field class="ffe">
                <mat-label>Role</mat-label>
                <input matInput placeholder="Role" name="roleName" required>
            </mat-form-field>
            <button mat-raised-button color="primary" class="buttonadd">Assign Role</button>
        </form>
    </mat-card>
</div>
